@model Article

<div class="article-card text-white">
  <div class="article-image-section col-md-3">
    <img class="article-image" src="@Model.Image" alt="Article Image" />
  </div>
  <div class="article-body-info col-md-9">
    <p>
      <a class="h2 text-white" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName"><strong>@Model.Title</strong></a>
    </p>
    <p class="article-authore-text">
      <a href="@Model.Author.Twitter" class="text-white" target="_blank" rel="noopener noreferrer">
        <img class="article-authore-image" src="@Model.Author.ProfileImage" alt="Author profile picture" />
        <strong>@Model.Author.Name</strong>
      </a> - @Model.Date
    </p>
    <p>@Model.ShortDescription</p>
  </div>
</div>
